## Cleaning File for 2018-19 Data

In [3]:
import pandas as pd
import numpy as np

In [4]:
roster_1819 = pd.read_stata('/Users/preetkhowaja/Documents/midssp2022/unifying/uds-2022-ids-701-team-3/00_source_data/1819_sec_1a.dta')
roster_1819.head()

,hhcode,province,region,psu,idc,s1aq02,s1aq03,s1aq04,s1aq05,age,s1aq62,s1aq63,s1aq64,s1aq07,s1aq08,s1aq09,s1aq10,s1aq11
0,1.102100e+09,khyber pakhtunkhwa,urban,11021001,1,brother/sister in law,main provider away for work,male,present,24,0,0,1994,unmarried / never married,NaN,98,55,yes
1,1.102100e+09,khyber pakhtunkhwa,urban,11021001,2,brother/sister in law,main provider away for work,male,present,23,0,0,1995,unmarried / never married,NaN,98,55,yes
2,1.102100e+09,khyber pakhtunkhwa,urban,11021001,51,head,NaN,female,present,28,0,0,1990,currently married,99.0,99,99,yes
3,1.102100e+09,khyber pakhtunkhwa,urban,11021001,52,son/daughter,main provider away for work,female,present,8,0,0,2010,unmarried / never married,NaN,99,51,yes
4,1.102100e+09,khyber pakhtunkhwa,urban,11021001,53,son/daughter,main provider away for work,female,present,7,0,0,2011,unmarried / never married,NaN,99,51,yes

In [6]:
# renaming relevant variables from roster
roster_1819['sex'] = roster_1819['s1aq04']
roster_1819['marital_status'] = roster_1819['s1aq07']
roster_1819.sample(4)

,hhcode,province,region,psu,idc,s1aq02,s1aq03,s1aq04,s1aq05,age,s1aq62,s1aq63,s1aq64,s1aq07,s1aq08,s1aq09,s1aq10,s1aq11,sex,marital_status
115756,3.302201e+09,sindh,urban,33022012,54,son/daughter,main economic provider,male,present,3,22,7,2015,unmarried / never married,NaN,1,51,yes,male,unmarried / never married
130030,3.502202e+09,sindh,urban,35022020,2,father/mother,main economic provider,male,present,88,0,0,1930,currently married,56.0,98,98,yes,male,currently married
27016,1.502301e+09,khyber pakhtunkhwa,urban,15023008,7,nephew/niece,main decision maker,male,present,10,0,0,2008,unmarried / never married,NaN,99,98,yes,male,unmarried / never married
169833,8.201101e+09,8,rural,82011005,52,son/daughter,main economic provider,female,present,10,0,0,2008,unmarried / never married,NaN,1,51,yes,female,unmarried / never married

In [7]:
roster_1819.province.value_counts()

punjab                68716
sindh                 39421
khyber pakhtunkhwa    33851
balochistan           18856
8                      8348
7                      6498
Name: province, dtype: int64

In [8]:
B_relevant = roster_1819[['hhcode', 'idc','age', 'sex', 'marital_status']].copy()
B_relevant.sample(5)

              hhcode  idc  age     sex             marital_status
73424   2.521401e+09    2   29    male  unmarried / never married
124651  3.402200e+09    2   11    male  unmarried / never married
67770   2.502207e+09   51   37  female          currently married
98409   2.911402e+09    1   35    male          currently married
51970   2.331100e+09   51   63  female          currently married

In [10]:
data_1819 = pd.read_stata('/Users/preetkhowaja/Documents/midssp2022/unifying/uds-2022-ids-701-team-3/00_source_data/1819_sec_2ab.dta')
data_1819.head()

,hhcode,province,region,psu,idc,s2aq01,s2aq02,s2aq03,s2aq04,s2bq01,...,s2bq18,s2bq19a,s2bq19b,s2bq19c,s2bq19d,s2bq19e,s2bq19f,s2bq19g,s2bq19h,s2bq19i
0,1.102100e+09,khyber pakhtunkhwa,urban,11021001,1,yes,yes,yes,no,attended school/institution in past,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.102100e+09,khyber pakhtunkhwa,urban,11021001,2,yes,yes,yes,no,attended school/institution in past,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.102100e+09,khyber pakhtunkhwa,urban,11021001,51,yes,yes,yes,no,attended school/institution in past,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.102100e+09,khyber pakhtunkhwa,urban,11021001,52,NaN,NaN,NaN,NaN,currently attending school,...,0-2 km,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,23000.0
4,1.102100e+09,khyber pakhtunkhwa,urban,11021001,53,NaN,NaN,NaN,NaN,currently attending school,...,0-2 km,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,18000.0

In [11]:
data_1819.s2bq01.value_counts()

never attended school                  63318
attended school/institution in past    44349
currently attending school             40047
Name: s2bq01, dtype: int64

In [15]:
# Create variable for ever_admitted and currently attending
data_1819['ever_admitted'] = np.where(data_1819.s2bq01 == 'never attended school', 'no', 'yes')
data_1819.ever_admitted.value_counts()
data_1819['currently_enrolled'] = np.where(data_1819.s2bq01 == 'currently attending school', 'yes', 'no')
data_1819.currently_enrolled.value_counts()

no     107667
yes     40047
Name: currently_enrolled, dtype: int64

In [17]:
C_relevant = data_1819[
    [
        "hhcode",
        "idc",
        "ever_admitted",
        "currently_enrolled",
        "region",
        "province"
    ]
].copy()

C_relevant.sample(5)

,hhcode,idc,ever_admitted,currently_enrolled,region,province
5421,1.161100e+09,57,no,no,rural,khyber pakhtunkhwa
109169,3.311401e+09,53,yes,yes,rural,sindh
27803,1.621200e+09,3,yes,yes,rural,khyber pakhtunkhwa
62563,2.502210e+09,52,yes,no,urban,punjab
23136,1.441100e+09,56,yes,yes,rural,khyber pakhtunkhwa

In [20]:
# MERGE 
years18_19 = pd.merge(B_relevant, C_relevant, on=["hhcode", 'idc'], how='inner', indicator=False)
# Evaluate merge by checking value counts for currently enrolled individuals
years18_19.currently_enrolled.value_counts()

no     107667
yes     40047
Name: currently_enrolled, dtype: int64

In [22]:
# Select people in school enrollment age (I would say 4-10 years old)
years18_19 = years18_19.loc[(years18_19["age"] >= 4)&(years18_19["age"] <= 15)]

In [24]:
years18_19.province.value_counts()

punjab                20523
sindh                 12307
khyber pakhtunkhwa    11629
balochistan            6766
Name: province, dtype: int64

In [25]:
# Re-spell the names
years18_19['province'].replace('punjab', 'Punjab', inplace = True)
years18_19['province'].replace('khyber pakhtunkhwa', 'KPK', inplace = True)
years18_19['province'].replace('sindh', 'Sindh', inplace = True)
years18_19['province'].replace('balochistan', 'Balochistan', inplace = True)
years18_19.province.value_counts()

Punjab         20523
Sindh          12307
KPK            11629
Balochistan     6766
Name: province, dtype: int64

In [26]:
# Lets see which hh codes we have:
years18_19["hhcode"] = years18_19["hhcode"].astype("str")
years18_19['subprovince code']= years18_19['hhcode'].apply(lambda x: x[0:4])
years18_19["subprovince code"] = years18_19["subprovince code"].astype("int")
years18_19.head()

,hhcode,idc,age,sex,marital_status,ever_admitted,currently_enrolled,region,province,subprovince code
3,1102100101.0,52,8,female,unmarried / never married,yes,yes,urban,KPK,1102
4,1102100101.0,53,7,female,unmarried / never married,yes,yes,urban,KPK,1102
5,1102100101.0,54,5,female,unmarried / never married,no,no,urban,KPK,1102
12,1102100102.0,54,12,female,unmarried / never married,yes,yes,urban,KPK,1102
13,1102100102.0,55,8,male,unmarried / never married,yes,yes,urban,KPK,1102

In [28]:
stratum_1819 = pd.read_csv('/Users/preetkhowaja/Documents/midssp2022/unifying/uds-2022-ids-701-team-3/00_source_data/stratum_1819.csv')
stratum_1819 = stratum_1819[['subprovince', 'subprovince code']]
stratum_1819.sample(2)

    subprovince  subprovince code
150     Shangla              1151
15    Charsadda              1402

In [29]:
# Merge stratum data with edu and sex data
years18_19_ = pd.merge(years18_19, stratum_1819, on=["subprovince code"], how='inner', indicator=True)

# Evaluate merge 
years18_19_._merge.value_counts()

both          85821
left_only         0
right_only        0
Name: _merge, dtype: int64

In [31]:
years18_19_.drop(columns= ['_merge'], inplace = True)
years18_19_.head()

,hhcode,idc,age,sex,marital_status,ever_admitted,currently_enrolled,region,province,subprovince code,subprovince
0,1102100101.0,52,8,female,unmarried / never married,yes,yes,urban,KPK,1102,Chitral
1,1102100101.0,52,8,female,unmarried / never married,yes,yes,urban,KPK,1102,Upper Dir
2,1102100101.0,52,8,female,unmarried / never married,yes,yes,urban,KPK,1102,Lower Dir
3,1102100101.0,52,8,female,unmarried / never married,yes,yes,urban,KPK,1102,Swat
4,1102100101.0,52,8,female,unmarried / never married,yes,yes,urban,KPK,1102,Shangla

In [33]:
# Add year indicator for 2018
years18_19_['Year'] = 2018

In [36]:
years18_19_.marital_status.value_counts()

unmarried / never married                         85768
currently married                                    48
nikkah solemnized but rukhsati not taken place        4
separated                                             1
0                                                     0
widow / widower                                       0
divorced                                              0
Name: marital_status, dtype: int64

In [37]:
# Recode marital status
years18_19_.marital_status.replace('unmarried / never married', 1, inplace = True)
years18_19_.marital_status.replace('currently married', 2, inplace = True)
years18_19_.marital_status.replace('widow / widower', 3, inplace = True)
years18_19_.marital_status.replace('separated', 4, inplace = True)
years18_19_.marital_status.replace('divorced', 4, inplace = True)
years18_19_.marital_status.replace('nikkah solemnized but rukhsati not taken place', 5, inplace = True)
years18_19_.marital_status.value_counts()

1    85768
2       48
5        4
4        1
0        0
3        0
Name: marital_status, dtype: int64

In [38]:
# Save to csv
years18_19_.to_csv('/Users/preetkhowaja/Documents/midssp2022/unifying/uds-2022-ids-701-team-3/10_data_cleaning/clean_preet/years18_19_.csv', index_label='id')